{% extends 'base.html' %}
{% block content %}


<main class="bg-gray-100">

  <!-- Page Container -->
  <div class="min-h-screen flex items-center justify-center py-10 px-5">
    <div class="bg-white shadow-md rounded-lg w-full max-w-3xl p-8">
      
      <!-- Header -->
      <div class="mb-6">
        <h1 class="text-2xl font-bold text-gray-800">Add New Client</h1>
        <p class="text-sm text-gray-500">Fill in the details below to add a new client to your CRM.</p>
      </div>

      <!-- Form -->
      <form  method="POST" class="space-y-6" enctype="multipart/form-data" >
        
        {% csrf_token %}

        {{form.as_p}}

        <!-- Buttons -->
        <div class="flex justify-end space-x-3">
          <a href="{% url 'clients' %}" type="reset" 
            class="py-2 px-4 bg-gray-200 text-gray-700 rounded-lg shadow-md hover:bg-gray-300">
            Cancel
        </a>
          <button type="submit" 
            class="py-2 px-4 bg-indigo-600 text-white rounded-lg shadow-md hover:bg-indigo-700">
            Save Client
          </button>
        </div>
      </form>
    </div>
  </div>

</main>


{% endblock %}