{% extends 'base.html' %}

{% block content %}

<main class="bg-gray-100">

    <div class="container mx-auto p-6">
        <h1 class="text-3xl font-semibold text-gray-700 mb-8">Client Data</h1>
        
        {% if messages %}
            {% for message in messages %}
            <p class="text-blue-600 text-2xl"> {{message}} </p>
            {% endfor %}
        {% endif %}

        <!-- Table -->
        <div class="overflow-x-auto bg-white shadow-lg rounded-lg">
            <table class="min-w-full text-sm text-left text-gray-500">
                <thead class="text-xs uppercase bg-gray-100">
                    <tr>
                        <th class="px-6 py-3 text-center font-medium text-gray-700">Client ID</th>
                        <th class="px-6 py-3 text-center font-medium text-gray-700">Name</th>
                        <th class="px-6 py-3 text-center font-medium text-gray-700">Email</th>
                        <th class="px-6 py-3 text-center font-medium text-gray-700">Phone</th>
                        <th class="px-6 py-3 text-center font-medium text-gray-700">Address</th>
                        <th class="px-6 py-3 text-center font-medium text-gray-700">Status</th>
                        <th class="px-6 py-3 text-center font-medium text-gray-700">View Profile</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in client_list %}
                    <tr class="border-b hover:bg-gray-50">
                        <td class="px-6 py-4 text-center">{{ client.id }}</td>
                        <td class="px-6 py-4 text-center">{{ client.name }}</td>
                        <td class="px-6 py-4 text-center">{{ client.email }}</td>
                        <td class="px-6 py-4 text-center">{{ client.contact }}</td>
                        <td class="px-6 py-4 text-center">{{ client.location }}</td>
                        <td class="px-6 py-4 text-center">{{ client.status }}</td>
                        <td class="px-6 py-4 text-center">
                             <a href="{% url 'client_detail' client.id %}" class="px-7 py-2 bg-blue-700 text-sm text-white rounded">View</a> 
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center text-gray-500 py-4">No clients available</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>


        <a href="{% url 'add_client' %}" class=" text-left px-7 py-2 bg-blue-700 text-sm text-white rounded my-16">Add client </a> 
            
    </div>

</main>

{% endblock %}